<html>
   <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
   <!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>-->
   <!--<script type="text/javascript" src="/home/js/pages.js"></script>-->

   <title>[% title %]</title>

   <div id="menubar">
      [% menubar %]
   </div>

   <div id="content">
      [% content %]
   </div> 

   <div id="updated">
      Last updated [% updated %]
   </div> 

</html>
